ul {
    list-style: none;
    margin: 0 auto;
/*
    text-align: center;
    width: inherit;
    height: inherit;
*/
}

li {
    display: inline;
}

#options-section {
    display: block;
    margin: 100px auto;
    width: 100%;
}

.option-field {
    width: 30%;
    display: inline;
    margin: 0 50px;
}

.chart-container {
  display: block;
  margin: 0 auto;
}

p {
    display: inline;
    margin: 0 0 35px;
}

select {
    display: inline;
    margin 0 0 35px;
}